.five-day-forecast {
  text-align: center;
  margin-top: -23px;
  font-weight: 600;
  color: #6e6e6e;
}

.five-day-icon canvas {
  text-align: center;
  width: 60px;
  display: block;
  margin: 0 auto;
}

.five-day-forecast-min {
  color: #7a7a7abd;
  margin-left: 6px;
}
