.rise-set-time {
  float: left;
  font-size: 13.5px;
  line-height: 2%;
  font-weight: 500;
  color: #f7f7f7e8;
  margin-top: 0%;
}

.sunset {
  margin-top: 20%;
}
.blue-text {
  color: #6e6e6e;
}

.red-text {
  color: #6e6e6e;
}
