.rise-set-time {
  position: relative;
  float: left;
  left: 10px;
  font-size: 15px;
  line-height: 2%;
  font-weight: 500;
  color: #f7f7f7e8;
}

.sunset {
  margin-top: 20%;
}
.blue-text {
  color: #6e6e6e;
}

.red-text {
  color: #6e6e6e;
}
