.weather {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: linear-gradient(
      #9272ec80 20%,
      #ed799c7e 50%,
      #fdd0488a 70%,
      #6ee5df83 90%
    ),
    url(https://www.clipartkey.com/mpngs/m/29-291798_mountain-range-euclidean-vector-blue-ridge-mountains-outline.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 77%;
  background-size: contain;
  padding: 1rem;
  color: rgb(255, 250, 250);
  box-shadow: 2px 4px 4px rgba(87, 78, 78, 0.25);
  border-radius: 12px;
}

.form-control {
  width: 50%;
  border-color: rgba(245, 245, 245);
  padding: 0.2rem 0.2rem;
}

.form-buttons {
  margin-left: 27%;
  margin-top: -12%;
}

#search-button,
#locate-button {
  font-size: 25px;
  color: hsla(0, 0%, 43.1%, 0.7607843137254902);
  padding: 0em 0.3em 0em 0.3em;
}

.btn btn-link:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 20ms ease-in-out;
  color: #666666;
}

.btn btn-link:focus {
  transition: 100ms ease-in-out;
  color: #666666;
}

.temp-button {
  float: right;
  margin-top: -14%;
}

.btn-group,
.btn-group-vertical {
  position: none;
  display: block;
}

.btn-primary {
  color: #4a3481c7;
  font-weight: 500;
  background-color: #fefeffde;
  line-height: 1.3;
  padding: 0px 5px 0px 5px;
  border: whitesmoke;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus,
.btn:active,
.btn:hover {
  box-shadow: none !important;
  outline: 0;
}
#cel,
#fah {
  background-color: transparent;
  color: #6e6e6ec2;
  font-size: 30px;
}

#cel:focus {
  transition: 100ms ease-in-out;
  color: #666666;
}
#cel:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 20ms ease-in-out;
  color: #666666;
}

.break {
  font-size: 24px;
}

#fah:focus {
  transition: 100ms ease-in-out;
  color: #666666;
}

#fah:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 20ms ease-in-out;
  color: #666666;
}

h1 {
  display: inline-block;
  font-size: 35px;
  font-weight: 500;
  margin-top: 5%;
}

h2 {
  line-height: 60%;
  font-size: 50px;
  font-weight: lighter;
}

.weather-icon canvas {
  width: 75px;
  display: block;
  margin-top: 1%;
  margin-left: 37%;
}

hr {
  line-height: 0.5%;
  margin: 0.5rem 0;
}

ul {
  list-style-type: none;
  padding: 0%;
  margin: 0%;
}

.small-text {
  display: inline-block;
  margin-right: 33%;
  text-align: center;
  font-size: 14px;
}

.text-capitalize {
  word-wrap: break-word;
  display: block;
  margin: 0 auto;
  width: 70%;
}

element.style {
  padding-right: 0%;
}

ul.more-weather-info {
  display: inline-flex;
  flex-direction: column;
  float: right;
  margin-top: -41%;
  line-height: 4;
  font-size: 13px;
  font-weight: 500;
  color: #f7f7f7e8;
  text-align: right;
}

.more-weather-text {
  color: #6e6e6e;
}
.time {
  color: #f7f7f7e8;
}
