.Weather {
  height: 580px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: linear-gradient(
      #9272ec80 20%,
      #ed799c7e 50%,
      #fdd0488a 70%,
      #6ee5df83 90%
    ),
    url(https://www.clipartkey.com/mpngs/m/29-291798_mountain-range-euclidean-vector-blue-ridge-mountains-outline.png);
  background-repeat: no-repeat;
  background-size: 550px;
  background-position-x: 40%;
  background-position-y: 66%;
  text-align: center;
  padding: 15px 20px;
  transition: 0.8s;
  color: rgb(58, 34, 80);
  box-shadow: 0 0 20px #a3a1aa;
  border-radius: 34px;
}

form {
  display: block;
  width: fit-content;
  margin: 0 auto;
  border: 20px;
}
.form-control {
  border-radius: 34px;
  padding: 3px 10px 3px 10px;
}
.btn-primary {
  background-color: #875df1c9;
  border: 1px solid #885df1;
  transition: background 200ms ease, border-color 200ms ease;
  border-radius: 34px;
  margin-left: -15px;
  padding: 3px 10px 3px 10px;
}

.btn-primary:hover {
  background-color: #875df1e3;
}

.weather-icon canvas {
  margin-top: 2%;
  width: 70px;
  height: 70px;
}

ul {
  list-style-type: none;
  padding: 0%;
  margin: 0%;
}

.small-text {
  font-size: 13px;
  line-height: 25px;
}

element.style {
  padding-right: 0%;
}
ul.more-weather-info,
ul.more-weather-info li {
  display: inline;
  font-size: 13px;
  font-weight: 600;
}

.humidity {
  padding-right: 48px;
}

.day-time {
  padding-right: 48px;
}

h1 {
  font-size: 38px;
  font-weight: 500;
  top: 80px;
  margin-top: 3%;
}

h2 {
  line-height: 60%;
  font-size: 57px;
  font-weight: lighter;
}

.switch {
  top: 130px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
}

.Daily {
  position: relative;
  top: 130px;
  color: rgb(58, 34, 80);

  background-color: transparent;
  border-color: transparent;
  left: 45px;
}
.Hourly {
  padding: 0px 10px 0px 8px;
  position: absolute;
  top: 446px;
  left: 630px;
  color: #885df1;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.603);
  border: transparent;
  border-radius: 34px;
}

.Daily:hover {
  cursor: pointer;
  color: #885df1;
  background-color: rgba(255, 255, 255, 0.603);
  border-radius: 34px;
  padding: 0px 10px 0px 8px;
}
